.btn {
  --btn-bg-color: var(--text-color-primary);
  --btn-color: var(--bg-color);
  border: 0;
  background-color: transparent;

  display:flex;
  align-items: center;
  justify-content: center;
  width: fit-content; /*se encaixa ao conteudo*/

  border-radius: .5rem; 
  cursor: pointer;
  font: var(--font-weight-medium) var(--fs-base) / 1.5rem var(--font-family-sans);

  background: var(--btn-bg-color);
  color: var(--background-color);
}

.btn:hover{
  --btn-bg-color: var(--brand-gradient);
  --btn-color: var(--surface-color);
  background: var(--brand-gradient);

  -webkit-background-clip: initial;
  background-clip: initial;
  color: var(--background-color);
}

.btn-sm {
  font-size: var(--fs-sm);
  padding: .5rem 1rem;
}

.btn-md{
  font-size: var(--fs-base);
  padding: 0.75rem 1.5rem;
} 

.btn-lg {
  font-size: 1.125rem;
  padding: 1rem 2rem;
}

.btn[aria-label] {
  position: relative; 

  &::before {
     content:"";
     position: absolute;
     border-radius: inherit;
     inset: 1px;
     background-color: var(--background-color);
  }

  &::after {
    content: attr(aria-label);  /*attr pega um atributo*/ 
    background: var(--btn-bg-color);
    
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
    position: relative;
    z-index:1;
  }
}

@media (width >= 80em) {

  .btn-sm{
    font-size: var(--fs-base);
    padding: 0.75rem 1.5rem;
  }

  .btn-md {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}